<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7200.0" authCookieName=".SFAUTH-DevMethod" rolesCookieName=".SFROLES-DevMethod" validationKey="7A0F5D6F8EABD53612902F627CD6BC71FD0896A7A3F44A5BDC16A4B674ABF4C069A4E1D7375DD8DB8EFD2E949E4584335E5298B85386E76E646396580A78495A" decryptionKey="BADDB8FE55C765A31D33852497D7FB7AF71990E69C467948F322EDFCDBC76B1E" loggingCookieName=".SFLOG-DevMethod">
	<securityTokenIssuers>
		<add key="619A528911915F8230A230B6C42B1BB2BB1CA24B93F018AAFEA220B53D98AE53" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="619A528911915F8230A230B6C42B1BB2BB1CA24B93F018AAFEA220B53D98AE53" realm="http://localhost" />
	</relyingParties>
</securityConfig>